body {
   text-align: center;
   max-width: 1200px;
}

h1 {
   color: rgb(255, 0, 17);
}

form {
   margin-bottom: 30px;
}

.cards {
   max-width: 1200px;
   display: grid;
   grid-template-columns: repeat(3, minmax(400px, 500px));
   grid-template-rows: repeat(1, 500px);
   gap: 10px;
   justify-self: center;
}

img {
   max-width: 380px;
}

p {
   max-height: 100px;
   overflow: scroll;
}

.preview-box{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.9);
   background: #fff;
   max-width: 700px;
   width: 100%;
   z-index: 5;
   opacity: 0;
}

.preview-box.show{
   opacity: 1;
   pointer-events: auto;
   transform: translate(-50%, -50%) scale(1);
   transition: all 0.3s ease;
}

.icon{
   color: #007bff;
   font-size: 20px;
   cursor: pointer;
}

.preview-box .image-box{
   display: flex;
   width: 100%;
   position: relative;
}

.image-box .slide{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color: #fff;
   font-size: 30px;
   cursor: pointer;
   height: 50px;
   width: 60px;
   line-height: 50px;
   text-align: center;
   border-radius: 3px;
}

.slide.prev{
   left: 0px;
}

.slide.next{
   right: 0px;
}

.image-box img{
   width: 100%;
   border-radius: 0 0 3px 3px;
}

.shadow{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 2;
   display: none;
   background: rgba(0,0,0,0.45);
}