body {
   text-align: center;
   max-width: 1200px;
}

h1 {
   color: rgb(255, 0, 17);
}

form {
   margin-bottom: 30px;
}

.cards {
   max-width: 1200px;
   display: grid;
   grid-template-columns: repeat(3, minmax(400px, 500px));
   grid-template-rows: repeat(1, 500px);
   gap: 10px;
   justify-self: center;
}

img {
   max-width: 380px;
}

p {
   max-height: 100px;
   overflow: scroll;
}
